---
import BaseHead from './BaseHead.astro';


export interface Props {
  head: {
    title: string;
    description: string;
  };
}
---

<html lang='en'>
  <head>
    <BaseHead />
    <link rel='stylesheet' href='src/styles/global.css' />
    <style>
      .noise::before {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 1000vh;
        content: '';
        /* you can control opacity of noise  */
        opacity: 0.03;
        z-index: 1000;
        pointer-events: none;
        background: url(../../public/noise.gif);
      }
      .grid-lines {
        content: '';
        width: 5px;
        height: 300vh;

        position: absolute;
        top: 0px;
        left: 85px;
      }
      .overlay {
        position: fixed;
        width: 100vw;
        height: 100vh;
        z-index: 2;
        display: flex;
      }

      .bar {
        width: 10vw;
        height: 105vh;
        background: #1f2021;
      }

      .counter {
        width: 100%;
        height: 100%;
        position: fixed;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        color: #d3d3c7;
        padding: 0.2em 0.4em;
        font-size: 20vw;
        font-family: 'Kleemax';
        z-index: 10000;
      }

      .nav {
        position: fixed;
        left: 50%;
        transform: translate(-50%, 0);
        width: 30%;
        height: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1px;
        border-radius: 10px;
        padding: 10px;
        background: rgba(0, 0, 0, 0.75);
        backdrop-filter: blur(20px);
        border: 1px solid rgba(255, 255, 255, 0.25);
      }

      .nav-top {
        position: absolute;
        width: 100%;
        height: 300px;
        border-radius: 10px;
        display: none;
        opacity: 0;
        transform: scale(0.9);
        padding: 0 10px !important;
      }

      .nav-bottom {
        position: absolute;
        width: 30%;
        height: 60px;
        display: flex;
        gap: 5px;
        padding: 12px 10px 10px 10px;
      }

      .nav-home {
        flex: 1;

        background: rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: 0.5s all;
      }

      .nav-home:hover {
        background: rgba(0, 0, 0, 0.75);
      }

      .nav-home .nav-item {
        gap: 10px;
      }

      .nav-items {
        flex: 4;
        height: 100%;
      }

      .nav-home .nav-item,
      .nav-items {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .nav-items {
        gap: 5px;
      }

      .nav-items > div {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 10px;
        transition: 0.5s all;
      }

      .nav-items .nav-item:hover {
        color: #fff;
        border: 1px solid rgba(255, 255, 255, 0.5);
      }

      .nav-items .nav-item:hover a {
        color: #fff;
      }

      .more-links {
        padding: 20px;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        display: flex;
      }

      .link a {
        color: #fff;
      }

      .col {
        position: relative;
        flex: 1;
        height: 100%;
        display: flex;
        flex-direction: column;
      }

      .col > div {
        flex: 1;
        padding: 10px 15px;
      }

      .col:before {
        position: absolute;
        content: '';
        top: 30px;
        left: 0;
        width: 1px;
        height: 85%;
        display: block;
        border-left: 1px solid rgba(255, 255, 255, 0.25);
        border-style: dashed;
      }

      .col-title {
        position: relative;
        margin-bottom: -25px;
      }

      .col-title p {
        position: relative;
        opacity: 0.75;
      }

      .col-title p:before {
        position: absolute;
        content: '';
        top: 6px;
        left: -16px;
        width: 4px;
        height: 4px;
        border-radius: 100%;
        background: #fff;
        display: block;
      }

      @media (max-width: 900px) {
        .nav {
          bottom: 10px;
        }

        .nav {
          width: 55%;
        }
        p,
        a {
          font-size: 12px;
        }
        .nav-home .nav-item {
          gap: 5px;
        }
      }
    </style>
    <link rel='icon' type='image/x-icon' href='/favicon.ico' />
  </head>
  <body class='overflow-x-hidden'>
    <h1 class='counter'>29</h1>

    <div class='overlay'>
      <div class='bar'></div>
      <div class='bar'></div>
      <div class='bar'></div>
      <div class='bar'></div>
      <div class='bar'></div>
      <div class='bar'></div>
      <div class='bar'></div>
      <div class='bar'></div>
      <div class='bar'></div>
      <div class='bar'></div>
    </div>
    <div class='noise'>
      <slot></slot>

      <div class='fixed   bottom-1 left-[12.5%] flex w-[75%] justify-center'>
        <!-- <div
          class='ease-[cubic-bezier(0.22, 1, 0.36, 1)] mx-3 flex h-fit w-fit min-w-0 items-end gap-[10px] overflow-visible rounded-[20px] border-y-[0.075rem] border-[#404040b1] bg-[#00000051] p-[10px] backdrop-blur-[15px] transition-all  duration-200'
        >
          <div class='flex gap-[10px]'>
            <button
              class='group flex h-11 w-11 shrink-0 items-center justify-center rounded-[10px] border-y-[1px] border-[#404040b1] bg-[#191919] transition-colors duration-150 hover:bg-[#222222]'
              ><div
                class='border-px border-accent pointer-events-none absolute h-fit w-fit rounded-md border border-opacity-10 bg-[#222222] px-2 py-0.5'
                style='opacity: 0; transform: translateY(-40px) translateZ(0px);'
              >
                <p
                  class='font-Spline_Sans_Mono text-highlight text-xs font-light'
                >
                  Home
                </p>
              </div><span
                style='box-sizing:border-box;display:inline-block;overflow:hidden;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0;position:relative;max-width:100%'
                ><span
                  style='box-sizing:border-box;display:block;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0;max-width:100%'
                  ><img
                    style='display:block;max-width:100%;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0'
                    alt=''
                    aria-hidden='true'
                    src='data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%2724%27%20height=%2724%27/%3e'
                  />
                </span><img
                  alt='home-icon'
                  srcset='/icons/dock/active/home.svg 1x, /icons/dock/active/home.svg 2x'
                  src='/icons/dock/active/home.svg'
                  decoding='async'
                  data-nimg='intrinsic'
                  style='position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%'
                />
              </span><div
                class='absolute bottom-[3px] h-1 w-1 rounded-full bg-[#404040b1]'
                data-projection-id='294'
                style='transform: none; transform-origin: 50% 50% 0px; opacity: 1;'
              >
              </div>
            </button>
          </div><div class='flex gap-[10px]'>
            <button
              class='group flex h-11 w-11 shrink-0 items-center justify-center rounded-[10px] border-y-[1px] border-[#404040b1] bg-[#191919] transition-colors duration-150 hover:bg-[#222222]'
              ><div
                class='border-px border-accent pointer-events-none absolute h-fit w-fit rounded-md border border-opacity-10 bg-[#222222] px-2 py-0.5'
                style='opacity: 0; transform: translateY(-40px) translateZ(0px);'
              >
                <p class='font-Spline_Sans_Mono text-accent text-xs font-light'>
                  About
                </p>
              </div><span
                style='box-sizing:border-box;display:inline-block;overflow:hidden;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0;position:relative;max-width:100%'
                ><span
                  style='box-sizing:border-box;display:block;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0;max-width:100%'
                  ><img
                    style='display:block;max-width:100%;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0'
                    alt=''
                    aria-hidden='true'
                    src='data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%2724%27%20height=%2724%27/%3e'
                  />
                </span><img
                  alt='about-icon'
                  srcset='/icons/dock/inactive/about.svg 1x, /icons/dock/inactive/about.svg 2x'
                  src='/icons/dock/inactive/about.svg'
                  decoding='async'
                  data-nimg='intrinsic'
                  style='position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%'
                />
              </span>
            </button>
          </div><div class='flex gap-[10px]'>
            <button
              class='group flex h-11 w-11 shrink-0 items-center justify-center rounded-[10px] border-y-[1px] border-[#404040b1] bg-[#191919] transition-colors duration-150 hover:bg-[#222222]'
              ><div
                class='border-px border-accent pointer-events-none absolute h-fit w-fit rounded-md border border-opacity-10 bg-[#222222] px-2 py-0.5'
                style='opacity: 0; transform: translateY(-40px) translateZ(0px);'
              >
                <p class='font-Spline_Sans_Mono text-accent text-xs font-light'>
                  Work
                </p>
              </div><span
                style='box-sizing:border-box;display:inline-block;overflow:hidden;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0;position:relative;max-width:100%'
                ><span
                  style='box-sizing:border-box;display:block;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0;max-width:100%'
                  ><img
                    style='display:block;max-width:100%;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0'
                    alt=''
                    aria-hidden='true'
                    src='data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%2724%27%20height=%2724%27/%3e'
                  />
                </span><img
                  alt='work-icon'
                  srcset='/icons/dock/inactive/work.svg 1x, /icons/dock/inactive/work.svg 2x'
                  src='/icons/dock/inactive/work.svg'
                  decoding='async'
                  data-nimg='intrinsic'
                  style='position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%'
                />
              </span>
            </button>
          </div><div class='flex gap-[10px]'>
            <button
              class='group flex h-11 w-11 shrink-0 items-center justify-center rounded-[10px] border-y-[1px] border-[#404040b1] bg-[#191919] transition-colors duration-150 hover:bg-[#222222]'
              ><div
                class='border-px border-accent pointer-events-none absolute h-fit w-fit rounded-md border border-opacity-10 bg-[#222222] px-2 py-0.5'
                style='opacity: 0; transform: translateY(-40px) translateZ(0px);'
              >
                <p class='font-Spline_Sans_Mono text-accent text-xs font-light'>
                  Play
                </p>
              </div><span
                style='box-sizing:border-box;display:inline-block;overflow:hidden;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0;position:relative;max-width:100%'
                ><span
                  style='box-sizing:border-box;display:block;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0;max-width:100%'
                  ><img
                    style='display:block;max-width:100%;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0'
                    alt=''
                    aria-hidden='true'
                    src='data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%2724%27%20height=%2724%27/%3e'
                  />
                </span><img
                  alt='play-icon'
                  srcset='/icons/dock/inactive/gamepad.svg 1x, /icons/dock/inactive/gamepad.svg 2x'
                  src='/icons/dock/inactive/gamepad.svg'
                  decoding='async'
                  data-nimg='intrinsic'
                  style='position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%'
                />
              </span>
            </button><div
              class='h-11 w-1 shrink-0 border-x-[0.05rem] border-[#4040407f]'
            >
            </div>
          </div><div class='flex gap-[10px]'>
            <button
              class='menu-open-btn group flex h-11 w-11 shrink-0 items-center justify-center rounded-[10px] border-y-[1px] border-[#404040b1] bg-[#191919] transition-colors duration-150 hover:bg-[#222222]'
              ><div
                class='border-px border-accent pointer-events-none absolute h-fit w-fit rounded-md border border-opacity-10 bg-[#222222] px-2 py-0.5'
                style='opacity: 0; transform: translateY(-40px) translateZ(0px);'
              >
                <p
                  class='font-Spline_Sans_Mono text-accent  text-xs font-light'
                >
                  Sound
                </p>
              </div><span
                style='box-sizing:border-box;display:inline-block;overflow:hidden;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0;position:relative;max-width:100%'
                ><span
                  style='box-sizing:border-box;display:block;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0;max-width:100%'
                  ><img
                    style='display:block;max-width:100%;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0'
                    alt=''
                    aria-hidden='true'
                    src='data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%2724%27%20height=%2724%27/%3e'
                  />
                </span><img
                  alt='sound-icon'
                  srcset='/icons/dock/inactive/sound.svg 1x, /icons/dock/inactive/sound.svg 2x'
                  src='/icons/dock/inactive/sound.svg'
                  decoding='async'
                  data-nimg='intrinsic'
                  style='position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%'
                />
              </span>
            </button>
          </div>
        </div> -->
        <div class='nav bottom-[10px]'>
          <div>
        
          </div>
          </div>
          <div class='nav-bottom bottom-[5px]'>
            <div class='nav-home'>
              <div class='nav-item' id='toggle-btn'>
                <div class='hamburger'>
                  <p href='#'>   <i class='ph-light ph-list'></i></p>
                </div>
              </div>
            </div>
            <div class='nav-items'>
              <div class='nav-item'>
                <a href='#'><i class="ph ph-house"></i></a>
              </div>
              <div class='nav-item'>
                <a href='#'><i class="ph ph-user"></i></a>
              </div>
              <div class='nav-item'>
                <a href='#'><i class="ph ph-cardholder"></i></a>
              </div>
              <div class='nav-item'>
                <a href='#'><i class="ph ph-paper-plane-tilt"></i></a>
              </div>
            </div>
          </div>
         
        </div>
    

       
        <script>
          import { gsap } from "gsap";
import { ScrollTrigger } from "gsap/ScrollTrigger";
          document.addEventListener('DOMContentLoaded', function () {
            const nav = document.querySelector('.nav');
            const navHome = document.querySelector('.nav-home');
            const navTop = document.querySelector('.nav-top');
            const navItems = document.querySelector('.nav-items');
            const icon = document.querySelector('.hamburger i');

            let isOpen = false;

            // Setting the initial state for the elements
            gsap.set(nav, { height: '60px' });
            gsap.set(navTop, { opacity: 0, scale: 0.9, display: 'none' });
            gsap.set(navItems, { opacity: 1, display: 'flex' });
            gsap.set(navHome, { flexGrow: 0 });

            navHome.addEventListener('click', function () {
              if (!isOpen) {
                gsap.to(nav, {
                  height: '370px',
                  duration: 0.75,
                  ease: 'power4.inOut',
                  immediateRender: false,
                });

                gsap.to(navTop, {
                  opacity: 1,
                  scale: 1,
                  duration: 0.3,
                  onStart: function () {
                    gsap.set(navTop, { display: 'block' });
                  },
                  delay: 0.5,
                  immediateRender: false,
                });

                gsap.to(navItems, {
                  opacity: 0,
                  duration: 0.1,
                  onComplete: function () {
                    gsap.set(navItems, { display: 'none' });
                  },
                  immediateRender: false,
                });

                gsap.to(navHome, {
                  flexGrow: 1,
                  duration: 0.2,
                  ease: 'power4.inOut',
                  delay: 0,
                  immediateRender: false,
                  onComplete: function () {
                    icon.className = 'ph-light ph-x';
                  },
                });
              } else {
                gsap.to(nav, {
                  height: '60px',
                  duration: 0.75,
                  ease: 'power4.inOut',
                  delay: 0.2,
                  immediateRender: false,
                });

                gsap.to(navTop, {
                  opacity: 0,
                  scale: 0.9,
                  duration: 0.2,
                  onComplete: function () {
                    gsap.set(navTop, { display: 'none' });
                  },
                  immediateRender: false,
                });

                gsap.to(navHome, {
                  flexGrow: 0,
                  duration: 0.2,
                  ease: 'power4.inOut',
                  immediateRender: false,
                  onComplete: function () {
                    icon.className = 'ph-light ph-list';
                  },
                });

                gsap.to(navItems, {
                  opacity: 1,
                  duration: 0.2,
                  onStart: function () {
                    gsap.set(navItems, { display: 'flex' });
                  },
                  delay: 0.5,
                  immediateRender: false,
                });
              }
              isOpen = !isOpen;
            });
          });
        </script>
      </div>
    </div>

    </script>
    <script src='src/partials/nav.js'>

    </script>
    <script>
      import { gsap } from "gsap";
import { ScrollTrigger } from "gsap/ScrollTrigger";
      function startLoader() {
        var counterElement = document.querySelector('.counter');
        var overlay = document.querySelector('.overlay');

        var currentValue = 0;

        function updateCounter() {
          if (currentValue === 100) {
            counterElement?.remove();
            setTimeout(() => {
              overlay?.remove();
            }, 4000);
            return;
          }

          currentValue += Math.floor(Math.random() * 10) + 1;

          if (currentValue > 100) {
            currentValue = 100;
          }

          counterElement.textContent = currentValue;

          var delay = Math.floor(Math.random() * 200) + 50;
          setTimeout(updateCounter, delay);
        }

        updateCounter();
      }

      startLoader();
      gsap.to('.counter', 0.25, {
        delay: 3.5,
        opacity: 0,
      });
      gsap.to('.bar', 1.5, {
        delay: 3.5,
        height: 0,
        stagger: {
          amount: 0.5,
        },
        ease: 'power4.inOut',
      });
      gsap.from('.h1', 1.5, {
        delay: 4,
        y: 700,
        stagger: {
          amount: 0.5,
        },
        ease: 'power4.inOut',
      });

      gsap.from('.hero', 2, {
        delay: 4.5,
        y: 400,
        ease: 'power4.inOut',
      });
    </script>

    </script>

    </script>
       

  </body>
</html>
