<footer class='fixed_footer'>
  <section
    class='footer_content ml-[12.5%] flex w-[75%] flex-col justify-center'
  >
    <div
      class='border-px border-accent relative mt-3 flex h-fit w-full flex-col items-center justify-end overflow-hidden rounded-3xl border border-opacity-10 px-3 pb-2'
      id='contact'
      style='background-image:radial-gradient(50% 100% at 50% 100%, #262626 0%, #141414 100%)'
    >
      <h6 class='text-highlight mt-7 font-light'>Get in touch</h6><div
        class='flex gap-1.5'
      >
        <div class='relative flex items-center justify-start sm:justify-center'>
          <div
            class='border-px border-accent pointer-events-none absolute h-fit w-fit rounded-md border border-opacity-10 bg-[#222222] px-2 py-0.5'
            style='opacity:0;transform:translateY(-40px) translateZ(0)'
          >
            <p
              class='font-Spline_Sans_Mono text-accent whitespace-nowrap text-center text-sm font-light'
            >
              ✓ Email copied to clipboard
            </p>
          </div><button
            class='group relative flex h-fit min-w-fit items-center justify-center gap-2 rounded-md p-2 transition-colors duration-150 hover:bg-[#222222]'
            aria-label='Em'
            ><span
              style='box-sizing:border-box;display:inline-block;overflow:hidden;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0;position:relative;max-width:100%'
              ><span
                style='box-sizing:border-box;display:block;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0;max-width:100%'
                ><img
                  style='display:block;max-width:100%;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0'
                  alt=''
                  aria-hidden='true'
                  src='data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%2736%27%20height=%2736%27/%3e'
                />
              </span><i
                class='ph-fill ph-envelope-simple-open'
                style='position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%'
              ></i><noscript
                ><i
                  class='ph-fill ph-envelope-simple-open'
                  style='position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%'
                ></i>
              </noscript>
            </span>
          </button>
        </div><a
          href='https://www.linkedin.com/in/aamirshaikh95/'
          target='_blank'
          rel='noreferrer'
          ><button
            class='group relative flex h-fit min-w-fit items-center justify-center gap-2 rounded-md p-2 transition-colors duration-150 hover:bg-[#222222]'
            aria-label='Li'
            ><span
              style='box-sizing:border-box;display:inline-block;overflow:hidden;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0;position:relative;max-width:100%'
              ><span
                style='box-sizing:border-box;display:block;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0;max-width:100%'
                ><img
                  style='display:block;max-width:100%;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0'
                  alt=''
                  aria-hidden='true'
                  src='data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%2736%27%20height=%2736%27/%3e'
                />
              </span><i
                class='ph-fill ph-linkedin-logo'
                style='position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%'
              ></i><noscript
                ><i
                  class='ph-fill ph-linkedin-logo'
                  style='position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%'
                ></i>
              </noscript>
            </span>
          </button>
        </a><a
          href='https://www.instagram.com/aamir_shaikh_95/'
          target='_blank'
          rel='noreferrer'
          ><button
            class='group relative flex h-fit min-w-fit items-center justify-center gap-2 rounded-md p-2 transition-colors duration-150 hover:bg-[#222222]'
            aria-label='Ig'
            ><span
              style='box-sizing:border-box;display:inline-block;overflow:hidden;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0;position:relative;max-width:100%'
              ><span
                style='box-sizing:border-box;display:block;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0;max-width:100%'
                ><img
                  style='display:block;max-width:100%;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0'
                  alt=''
                  aria-hidden='true'
                  src='data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%2736%27%20height=%2736%27/%3e'
                />
              </span><i
                class='ph-fill ph-instagram-logo'
                style='position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%'
              ></i><noscript
                ><i
                  class='ph-fill ph-instagram-logo'
                  style='position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%'
                ></i>
              </noscript>
            </span>
          </button>
        </a><a
          href='https://twitter.com/aamirshaikh95/'
          target='_blank'
          rel='noreferrer'
          ><button
            class='group relative flex h-fit min-w-fit items-center justify-center gap-2 rounded-md p-2 transition-colors duration-150 hover:bg-[#222222]'
            aria-label='Tw'
            ><span
              style='box-sizing:border-box;display:inline-block;overflow:hidden;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0;position:relative;max-width:100%'
              ><span
                style='box-sizing:border-box;display:block;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0;max-width:100%'
                ><img
                  style='display:block;max-width:100%;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0'
                  alt=''
                  aria-hidden='true'
                  src='data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%2736%27%20height=%2736%27/%3e'
                />
              </span><i
                class='ph-fill ph-twitter-logo'
                style='position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%'
              ></i><noscript
                ><i
                  class='ph-fill ph-twitter-logo'
                  style='position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%'
                ></i>
              </noscript>
            </span>
          </button>
        </a><a
          href='https://discordapp.com/users/786990067422986252'
          target='_blank'
          rel='noreferrer'
          ><button
            class='group relative flex h-fit min-w-fit items-center justify-center gap-2 rounded-md p-2 transition-colors duration-150 hover:bg-[#222222]'
            aria-label='Di'
            ><span
              style='box-sizing:border-box;display:inline-block;overflow:hidden;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0;position:relative;max-width:100%'
              ><span
                style='box-sizing:border-box;display:block;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0;max-width:100%'
                ><img
                  style='display:block;max-width:100%;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0'
                  alt=''
                  aria-hidden='true'
                  src='data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%2736%27%20height=%2736%27/%3e'
                />
              </span><i
                class='ph-fill ph-discord-logo'
                style='position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%'
              ></i><noscript
                ><i
                  class='ph-fill ph-discord-logo'
                  style='position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%'
                ></i>
              </noscript>
            </span>
          </button>
        </a>
      </div><div
        class='mt-7 h-px w-full max-w-lg'
        style='background-image:linear-gradient(270deg, rgba(159, 159, 173, 0) 0%, rgba(159, 159, 173, 0.25) 48.68%, rgba(159, 159, 173, 0) 100%)'
      >
      </div>
      <p class='text-accent mt-7 text-center text-xs font-light md:text-sm'>
        <span class='text-accent text-opacity-50'></span><br />Designed and
        engineered by Sasank Reddy.<br />Built with Astro, Tailwind CSS<br /><br
        /><span class='text-accent font-light text-opacity-50'
          >© DecentParadox 2023. All rights and wrongs reserved
        </span>
      </p><div class='mt-7 flex h-[66.4px] w-full justify-center'>
        <div class='relative flex h-full w-full items-center'>
          <div
            class='mr-px h-px w-full'
            style='background-image:linear-gradient(270deg, rgba(159, 159, 173, 0.25) 0%, rgba(159, 159, 173, 0) 100%)'
          >
          </div><div class='bg-accent absolute right-0 h-7 w-px opacity-25'>
          </div>
        </div><div class='h-full w-80 shrink-0'></div><div
          class='relative flex h-full w-full items-center'
        >
          <div
            class='ml-px h-px w-full'
            style='background-image:linear-gradient(270deg, rgba(159, 159, 173, 0) 0%, rgba(159, 159, 173, 0.25) 100%)'
          >
          </div><div class='bg-accent absolute left-0 h-7 w-px opacity-25'>
          </div>
        </div>
      </div>
    </div>
    <style>
      .footer_content p {
        font-family: 'Mergeone';
      }
      .footer_content h6 {
        font-family: 'Kleemax';
        text-transform: uppercase;
      }
    </style>
  </section>
</footer>
